* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: newfont;
  src: url(font/RobotoCondensed-Italic-VariableFont_wght.ttf);
}

body {
  font-family: newfont;
  width: 100%;
  text-transform: capitalize;

  main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    >.detail {
      width: 100%;
      height: 100px;
      /* background: red; */
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 50px 0 0 200px;
      margin: 20px 0;

      h1 {
        font-size: 50px;
        color: #212529;
      }

      input {
        width: 400px;
        height: 50px;
        padding-left: 30px;
        margin-left: 100px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        outline: none;
        text-transform: capitalize;
      }

    }

    nav {
      position: fixed;
      width: 80px;
      height: 100vh;
      left: 0;
      background: #0068ff;
      z-index: 10;

      li {
        display: flex;
        justify-content: center;
        list-style-type: none;
        width: 100%;
        color: #9d9d9d;
        margin-top: 50%;

        i {
          font-size: 20px;
          color: wheat;

        }

        &:nth-of-type(5) {
          i {
            background: blue;
            font-size: 35px;
            padding: 2px;
            border-radius: 5px;
          }

        }
      }
    }

    ul {
      width: 20.1%;
      margin: 30px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background: whitesmoke;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 5px black;
      *{
        padding: 10px;

      }

      figure {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }

      li {

        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        /* padding: 20px 0 ; */
        width: 100%;

        /* font-size: 15px; */
        &:nth-of-type(1) {
          font-size: 20px;
          font-weight: bold;
        }

        &:nth-of-type(2) {
          font-size: 12px;

        }

        &:nth-of-type(3) {
          font-size: 15px;
          color: grey;
        }

      }
      div{
        position: absolute;
        width: 100px;
        height: 50px;
        top: 0;
        right: 0;
        display: flex;
        i{
          cursor: pointer;
          font-size: 20px;
          &:nth-of-type(1){
            color: red;
          }
          &:hover{
            scale: 1.4;
          }
        }
      }
      position: relative;
    }
    #exit{
      position: absolute;
      right: 80px;
      top: 80px;
      font-size: 40px;
      cursor: pointer;
    }
  }

  /* ///////////////////////////////profile////////////////////// */

  /* ---------------profile----------------- */
  >.edit {
    position: absolute;
    left: 0;
    bottom: 0;
    background: black;
    color: wheat;
    padding: 10px;
  }

  >.box {
    width: 180px;
    height: 180px;
    position: fixed;
    left: 20px;
    bottom: 0px;
    z-index: 10;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background: red;

    &:hover {
      >img {
        filter: blur(5px);
      }

      >a {
        filter: none;
        opacity: 1;
      }
    }

    >img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }

    >a {
      position: absolute;
      text-decoration: none;
      transition: .4s;
      display: flex;
      scale: .7;
      opacity: 0;
      color: #212529;

      &:nth-of-type(1) {
        left: 60px;

      }

      &:nth-of-type(2) {
        left: 0px;
      }

      &:nth-of-type(3) {
        right: 10px;
      }


    }
  }


  /* ---------------------------------------------------- */


}







@keyframes l3 {
  0% {
    background-position: 100%
  }
}